.bgcover,
.bgfixed {
  background-size: cover;
  background-position: center;
}

.bgfixed {
  background-attachment: fixed;
}
.spacer {
  height: 200px;
}
.imagewithtext .row > .pt-5 {
  padding: 100px 30px !important;
}
